body {
	background-image: url('restaurant.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: gray;
}
table {
	color: white;
}
img {
	padding: 10px;
	margin: 10px;
	border: green 2px solid;
}
ol li {
	padding: 5px;
	margin: 5px;
	border: black 1px solid;
	background: #cce5ff;
}
.lista {
	height: 550px;
	width: 250px;
	background-color: yellow;
	margin: 5px;
	float: left;
	padding: 5px;
}
#nyitva {
	text-align: center;
}
#indiai {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #445566;
	font-style: italic;
	background-color: #ffe5e5;
	height: 550px;
	width: 750px;
	padding: 5px;
	margin: 5px;
	border: 2px dotted blue;
	float: left;
}
h3 {
	font-size: 25px;
	text-decoration: underline;
}
#udvozlet {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
